# Chap 2 Problems

# Algebric Expression

In [5]:
3+5

8

In [2]:
5-2

3

In [6]:
3*5

15

In [4]:
16/2

8.0

In [7]:
2*3+3

9

In [8]:
(3+3)*2

12

In [9]:
4.234/7+3

3.604857142857143

In [10]:
5.432/(32+1)

0.16460606060606062

In [11]:
3-2+1

2

In [12]:
2**3

8

In [13]:
5**4

625

In [14]:
14//3

4

In [33]:
14%3

2

# Practice 2.1

In [35]:
#First Five Positive Integer
sum_of_int = 1+2+3+4+5
print("Your Answer is: ", sum_of_int)

Your Answer is:  15

In [36]:
#average
age_sara = 23
age_mark = 19
age_fatima = 31
avg_age = (age_sara+age_mark+age_fatima)/3
print("Average age of sara, mark, and fatima is: ", avg_age)

Average age of sara, mark, and fatima is:  24.333333333333332

In [171]:
#multiplication
403//73

5

In [38]:
#Remainder
403%73

38

In [41]:
2**10

1024

In [43]:
sara_height = 54 #inches
mark_height = 57 #inches
absolute_height = abs(mark_height-sara_height)
print("The absolute height difference between sara and mark is: ", absolute_height, "inches")

The absolute height difference between sara and mark is:  3 inches

In [44]:
price_list = [34.99, 29.95, 31.50]
lowerst_value = min(price_list)
print("The lowest Value in the list is:", "$", lowerst_value)

The lowest Value in the list is: $ 29.95

# Boolean Expression & operators

In [45]:
2<3

True

In [46]:
3>2

True

In [47]:
4>2

True

In [48]:
4>6

False

In [49]:
5+22 >= 33

False

In [50]:
3 == 3

True

In [51]:
3+4 == 2+5

True

In [52]:
3 != 5

True

In [53]:
3 != 3

False

# Problem 2.2

In [54]:
# (a)
2+2 < 4

False

In [55]:
# (b)
7//3 == 1+1

True

In [56]:
# (c)
3**2 + 4**2 == 25

True

In [57]:
# (d)
2+4+6 > 12

False

In [66]:
# (e)
if 1387/19:
    print("True")
else:
    print("False")

True

In [65]:
# (f)
if 31%2:
    print("True")
else:
    print("False")

True

In [72]:
# (g)
price_list = [34.99, 29.95, 31.50]
other_price = [30.00]
if price_list < other_price:
    print("$29.95 is less than $30.00")
else:
    print("False")

False

# Practice Problem 2.3

In [1]:
a = 3
b = 4
c = a*a + b*b

In [2]:
print("The assigned value of c is: ", c)

The assigned value of c is:  25

In [3]:
x = 7

In [4]:
x == 7

True

In [5]:
x ==  4

False

In [14]:
s = 'Hello '
t = 'World '
s+ '' +t

'Hello World '

In [13]:
"Hello " * 2

'Hello Hello '

In [15]:
s = "Hello"

In [16]:
"H" in s

True

In [17]:
"h" in s

False

In [18]:
"am" in s

False

In [19]:
"ell" in s

True

In [20]:
len(s)

5

In [21]:
s[3]

'l'

# Practice Problem 2.4

In [33]:
s1 = "ant"
s2 = "bat"
s3 = "cod"

In [38]:
s1 +" "+ s2 +" "+ s3

'ant bat cod'

In [42]:
(s1 + " ") *10

'ant ant ant ant ant ant ant ant ant ant '

In [46]:
s1 + " "+ (s2+" ")*2 + " "+ (s3+" ")*3

'ant bat bat  cod cod cod '

In [49]:
(s1+" "+s2+" ")*10

'ant bat ant bat ant bat ant bat ant bat ant bat ant bat ant bat ant bat ant bat '

In [60]:
((s2)*2 + (s3)+" ")*5

'batbatcod batbatcod batbatcod batbatcod batbatcod '

# Practice Problem 2.5

In [61]:
s = "0123456789"

In [62]:
s[0]

'0'

In [63]:
s[1]

'1'

In [64]:
s[6]

'6'

In [65]:
s[8]

'8'

In [66]:
s[9]

'9'

# List And Tuples

In [96]:
pets = ["cat", "dog", "goldfish"]

In [68]:
len(pets)

3

In [69]:
pets + pets

['cat', 'dog', 'goldfish', 'cat', 'dog', 'goldfish']

In [73]:
pets * 3

['cat', 'dog', 'goldfish', 'cat', 'dog', 'goldfish', 'cat', 'dog', 'goldfish']

In [74]:
"rabbit" in pets

False

In [75]:
"dog" in pets

True

In [76]:
lst = [23.99, 19.99, 20.33]

In [77]:
min(lst)

19.99

In [78]:
max(lst)

23.99

In [97]:
sum(lst)

64.31

# Practice Problem 2.6

In [98]:
words = ["bat", "ball", "barn", "basket", "badminton"]

In [99]:
sorted(words)

['badminton', 'ball', 'barn', 'basket', 'bat']

# Lists Are Mutable, Strings Are Not

In [100]:
pets = ["cat", "dog", "goldfish"]

In [103]:
pets[0] = "cymric cat"

In [104]:
print(pets)

['cymric cat', 'cymric cat', 'goldfish']

In [105]:
pets[1] = "dog"

In [106]:
print(pets)

['cymric cat', 'dog', 'goldfish']

In [108]:
pets.append("parrot")

In [109]:
print(pets)

['cymric cat', 'dog', 'goldfish', 'parrot']

In [110]:
pets[2] = "cow"

In [111]:
print(pets)

['cymric cat', 'dog', 'cow', 'parrot']

In [112]:
pets[2] = "goldfish"

In [113]:
print(pets)

['cymric cat', 'dog', 'goldfish', 'parrot']

# Tuples, OR "Immutable Lists"

In [114]:
days = ("mon", "tues", "wed", "thurs")

In [116]:
days[3] = "fri" #It Shows that Tuple are immutable(Not changeable list)

TypeError: 'tuple' object does not support item assignment

In [117]:
days

('mon', 'tues', 'wed', 'thurs')

In [119]:
days_1 = ("fri", "sat", "sun")

In [120]:
week = days + days_1

In [121]:
print(week)

('mon', 'tues', 'wed', 'thurs', 'fri', 'sat', 'sun')

# Practice Problem 2.7

In [136]:
grades = [9, 7, 7, 10, 3, 9, 6, 6, 2]

In [138]:
grades[1]

7

In [140]:
grades[8] = 4

In [141]:
grades

[9, 7, 7, 10, 3, 9, 6, 6, 4]

In [142]:
max(grades)

10

In [149]:
grades.sort()
print(grades)

[3, 4, 6, 6, 7, 7, 9, 9, 10]

In [165]:
len(grades)
sum(grades)/len(grades)

6.777777777777778

# Practice Problem 2.8

In [173]:
((2+3) == 4) or (a>=5)

True

In [174]:
(((lst[1])*(-3)) < (-10)) == 0

False

In [175]:
(((lst[1])*(-3))< (-10)) in [0, True]

True

In [177]:
2 * (3**2)

18

In [178]:
(4/2) in [1, 2, 3]

True

# Practice Problem 2.10

In [167]:
from math import sqrt
a = eval(input("Enter the value of lenght a: "))
b = eval(input("Enter the value of length b: "))
c = (a**2+b**2)
print("The length of Hypotenuse is: ", c)

Enter the value of lenght a: 82
Enter the value of length b: 44
The length of Hypotenuse is:  8660

In [170]:
from math import pi
r = float(input("Enter the value of radius: "))
area = pi*(r**2)
print("The radius of disk is: ", radius)

Enter the value of radius: 44
The radius of disk is:  9503.317777109125

In [185]:
import math
a = float(input("Enter the first value: "))
b = float(input("Enter the second value: "))
result = math.sqrt(a**2 + b**2) == 5
print(result)

Enter the first value: 7
Enter the second value: 5
False

In [186]:
r = 25
x = 4
y = 6
a = 10
b = 15
formula = (x-a)**2 + (y-b)**2 < r**2
print(result)

False

# Exercises

# 2.11

In [187]:
#a
negative_int = [-7, -6, -5, -4, -3, -2, -1]
sum(negative_int)

-28

In [188]:
#c
2**10

1024

In [189]:
#d
4356//61

71

In [190]:
#e
4356%61

25

# 2.12

In [191]:
s1 = "-"
s2 = "+"

In [193]:
#a
s1+ s2

'-+'

In [194]:
#b
s1+s2+s1

'-+-'

In [195]:
#c
s2+(s1*2)

'+--'

In [197]:
#d
(s2+(s1*2))*2

'+--+--'

In [198]:
#e
(s2+(s1*2))*10

'+--+--+--+--+--+--+--+--+--+--'

In [200]:
#f
(s2+s1+(s2*3))*10

'+-++++-++++-++++-++++-++++-++++-++++-++++-++++-+++'

# 2.13

In [201]:
s = "abcdeffghijklmnopqrstuvwxyz"

In [202]:
s[0]

'a'

In [203]:
s[2]

'c'

In [204]:
s[-1]

'z'

In [208]:
s[-2]

'y'

In [211]:
s[17]

'q'

# 2.14

In [212]:
s = "goodbye"

In [215]:
"g" in s

True

In [224]:
s[6] is "g" in s

False

In [225]:
s[0:1] is "g", "a" in s

(True, False)

In [226]:
s[-2] is "x" in s

False

In [229]:
s[3] is "d" in s

True

In [230]:
s[0] == s[-1]

False

In [9]:
s[:4] is "tion" in s

False

# 2.15

In [19]:
words = "anachronistically" and "counterintuitive"
words.count(words)

1

In [20]:
word = "flocccinaucinihilipilification"
'e' not in word

True

In [21]:
word = "counterrevolution"
word2 = "counter" + "resolution"
word == word2

False

# 2.16

In [25]:
a = 7
b = 7
c = a+b/2
print("c =", c)

c = 10.5

In [28]:
inventory = ['paper', 'staples','pencils']

In [29]:
first = 'John'
middle = 'Fitzgerald'
last = 'kennedy'
fullname = "John" + "Fitzgerald" + "kennedy"
print("fullname:",fullname)

fullname: JohnFitzgeraldkennedy

In [30]:
17 + (-9) <10

True

In [31]:
inventory = ['paper', 'staples','pencils']
fullname = "John" + "Fitzgerald" + "kennedy"
len(inventory) >= len(fullname)

False

In [32]:
a = 6
b = 7
c < 24

True

# 2.17

In [2]:
a = 17
b = -9
c = (a + b)/2

In [3]:
a+b < 10

True

In [6]:
inventory = ['paper', 'staples','pencils']
fullname = "John" + "Fitzgerald" + "kennedy"
len(inventory) > (5*(len(fullname)))

False

In [7]:
c > 24

False

In [11]:
first = 'John'
middle = 'Fitzgerald'
last = 'kennedy'
fullname = "John" + "Fitzgerald" + "kennedy"
len(middle) > len(first) < len(last)

True

# 2.18

In [12]:
flowers = ["rose", "bougainvillea", "yucca", "marrgold", "daylilly", "lilly of the valley"]

In [13]:
"potato" in flowers

False

In [17]:
thorny = ["rose", "bougainvillea", "yucca"]
poisonous = ["lilly of the valley"]
print("dangerous: ", thorny + poisonous)

dangerous:  ['rose', 'bougainvillea', 'yucca', 'lilly of the valley']

# 2.19

In [22]:
answers = ['Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N']
numYes = answers.count("Y")
numNo = answers.count("N")
print("percentYes is: ", numYes)

percentYes is:  5

In [23]:
sorted(answers)

['N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y']

In [25]:
f = answers

In [28]:
print("The first 'Y' in the sorted list is: ", f[-5])

The first 'Y' in the sorted list is:  Y

# 2.23

In [35]:
monthsL = ['Jan', 'Feb', 'Mar', 'May']
monthsL.insert(3,'Apr')
print('monthsL:', monthsL)

monthsL: ['Jan', 'Feb', 'Mar', 'Apr', 'May']

In [36]:
monthsL.append("jun")

In [37]:
print(monthsL)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'jun']

In [50]:
monthsL.pop()

'Jan'

In [45]:
monthsL.remove("Feb")

In [49]:
monthsL.reverse()

In [51]:
monthsL

['jun', 'May', 'Apr', 'Mar']

In [53]:
monthsL.sort()
print(monthsL)

['Apr', 'Mar', 'May', 'jun']

# 2.24

In [65]:
grades = ['B','B','F','C','B','A','A','D','C','D','A','A','B']
count = []
count.append(grades.count("A"))
count.append(grades.count("B"))
count.append(grades.count("C"))
count.append(grades.count("D"))
count.append(grades.count("E"))
print("Grade counts are: ", count)

Grade counts are:  [4, 4, 2, 2, 0]

# 2.25

In [68]:
grades = ('B','B','F','C','B','A','A','D','C','D','A','A','B')
count = []
count.append(grades.count("A"))
count.append(grades.count("B"))
count.append(grades.count("C"))
count.append(grades.count("D"))
count.append(grades.count("E"))
print("Grade counts are: ", count)

Grade counts are:  [4, 4, 2, 2, 0]

# 2.26

In [69]:
radius = 10
x1 = 0
y1 = 0
dartboard = pow(0-x1,2) + pow(0-y1,2)
if (pow(dartboard,2) <= radius):
    print("hit")
else:
    print ("miss, please try again ")

hit

# 2.27

In [70]:
from math import pi
from math import sin
l1 = float(input("Enter the length of ladder :"))
d1_degree = float(input("Enter the angle :"))
d2_radian = pi * d1_degree/180
height = l1 * sin(d2_radian)
print("height is :" , (height))

Enter the length of ladder :52
Enter the angle :22
height is : 19.479542857627425